BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakInheritanceList: AfterColon
IndentCaseLabels: true
IndentExternBlock: true
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
SpaceBeforeParens: ControlStatementsExceptControlMacros
